<beans:beans
	xmlns="http://www.springframework.org/schema/security"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">



		<intercept-url pattern="/base/atividade.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/avaliacaoCustos.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/avaliacaoDesempenho.jsf"
			access="hasRole('responsavel')" />
		<intercept-url pattern="/base/avaliacaoOutros.jsf"
			access="hasRole('responsavel')" />
		<intercept-url
			pattern="/base/avaliacaoProdutividade.jsf"
			access="hasRole('responsavel')" />
		<intercept-url pattern="/base/avaliacaoQualidade.jsf"
			access="hasRole('responsavel')" />
		<intercept-url pattern="/base/avaliacaoTempo.jsf"
			access="hasRole('responsavel')" />


		<intercept-url pattern="/base/usuario.jsf"
			access="hasRole('responsavel')" />

		<intercept-url pattern="/base/categoriaIndicador.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/confirmarIndicador.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url
			pattern="/base/graficosCategoriaIndicadores.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/grupoLancamento.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/indicador.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url
			pattern="/base/iniciarSelecaoIndicadores.jsf"
			access="hasRole('responsavel')" />
		<intercept-url pattern="/base/inicio.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/lancamento_backup.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/lancamento.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/processo.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/selecionarIndicadores.jsf"
			access="hasRole('responsavel')" />
		<intercept-url
			pattern="/base/selecionarProcessosIndicadores.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />
		<intercept-url pattern="/base/tipo.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />


		<intercept-url pattern="/cliente/inicio.jsf"
			access="hasRole('CLIENTE')" />
			
			<intercept-url pattern="/lista/inicio.jsf"
			access="hasRole('responsavel') or hasRole('assistente')" />



		<access-denied-handler error-page="/negado.jsf" />
		<form-login login-page="/login.jsf"
			authentication-failure-url="/login.jsf?error=true" />
		<!-- alteração 0609 error=true, -->
	</http>
	<authentication-manager>

		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<!-- <user-service> <user name="maria" password="123" authorities="ROLE_ADM" 
				/> <user name="ana" password="123" authorities="ROLE_RESPONSAVEL" /> </user-service> -->

			<!-- VAI FICAR UMA CONSULTA PARA USUARIO COLABORADOR E OUTRA PARA PESSOA 
				(CLIENTE E PONTOD E COLETA) -->

			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT email as username, 
                                senha as password, status as enable FROM usuario WHERE status is true and email=?"

				authorities-by-username-query="select email as username, permissao as authority from   
                                                           usuario as p where p.status is true and p.email=?" />
		</authentication-provider>

		<authentication-provider>
			<!-- <password-encoder hash="bcrypt" /> -->
			<!-- <user-service> <user name="maria" password="123" authorities="ROLE_ADM" 
				/> <user name="ana" password="123" authorities="ROLE_RESPONSAVEL" /> </user-service> -->

			<!-- VAI FICAR UMA CONSULTA PARA USUARIO COLABORADOR E OUTRA PARA PESSOA 
				(CLIENTE E PONTOD E COLETA) -->

			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT email as username, 
                                senha as password, status as enable FROM pessoa WHERE tipo='Cliente' and status is true and email=?"

				authorities-by-username-query="select email as username, permissao as authority from   
                                                           pessoa as p where p.tipo='Cliente' and p.status is true and p.email=?" />
		</authentication-provider>

	</authentication-manager>

	<!--Configuração da fonte de dados -->
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/lista" />
		<beans:property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<beans:property name="username" value="root" />
<!-- 		<beans:property name="password" value="!@#gestao159/*" /> -->
		<beans:property name="password" value="" />
	</beans:bean>

</beans:beans>
